<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <div class="about-content content">
        <div class="about-title-container">
            <h1>インクラ</h1>
            <p>About</p>
        </div>
        <p class="about-text">Inkura is a manga storefront and inventory system based in some fictional place. Currently, we have curated selections of manga titles across all major demographics: Kodomo, Shonen, Shojo, Seinen, and Josei and we are going to expand in the future,</p>
        <p class="about-text">What started as a small local physical shop has now grown into an online library for global reach.</p>
        <p class="about-text">New and seasoned readers to manga are both welcomed as Inkura exists to make browsing and discovering titles simple, organized and easily accessible</p>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>