<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <div class="about-content content">
        <h1>Inkura</h1>
        <p>Inkura is a manga storefront and inventory system based in some fictional place. Currently, we have curated selections of manga titles across all major demographics: Kodomo, Shonen, Shojo, Seinen, and Josei and we are going to expand in the future</p>
        <p>New and seasoned readers to manga are both welcomed as Inkura exists to make browsing and discovering titles simple, organized and easily accessible</p>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>