<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <div class="form-content content">
        <div class="add-title-container">
            <h1>Add Category</h1>
        </div>
        <%- include("partials/errors.ejs") %>
        <form action="/categories" method="POST">
            <label for="categoryName">Category Name:</label>
            <input type="text" id="category-name" name="categoryName" placeholder="Name of Category" required>

            <label for="categoryDesc">Description:</label>
            <textarea name="categoryDesc" id="category-description" placeholder="Description of category" required></textarea>

            <button class="submit-btn" type="submit">Submit</button>
        </form>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>