<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <div class="contact-content content">
        <div class="contact-title-container">
            <h1>Contact</h1>
            <p>Get in touch</p>
        </div>
        <div class="address-details">
            <div class="location">
                <p>Location</p>
                <p>12 Manga Street, fictional road</p>
                <p>Fictional place, 3801</p>
                <p>Fictional country</p>
            </div>
            <div class="contact-info">
                <p>Reach us</p>
                <p>Email: hello@inkura.co.za</p>
                <p>Phone: +27 31 000 0000</p>
                <p>Store hours: Monday - Saturday, 9am to 6pm</p>
            </div>
        </div>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>