<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <div class="about-content content">
        <h1>Contact</h1>
        <p>Inkura 12 Manga Street, fictional place</p>
        <p>Email: hello@inkura.co.za</p>
        <p>Phone: +27 31 000 0000</p>
        <p>Store hours: Monday - Saturday, 9am to 6pm</p>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>