<header class="header">
    <nav class="navigation">
        <ul class="logo-container">
            <li class="logo-jap logo">
                <a href="/">インクラ</a>
            </li>
            <li class="logo-eng logo">
                <a href="/">Inkura</a>
            </li>
        </ul>

        <ul class="mobile-menu">
            <button class="hamburger" id="hamburger">
                <span>/</span>
                <span>/</span>
                <span>/</span>
            </button>
        </ul>

        <div id="mobileNav" class="mobile-nav">
            <div class="close-btn-container">
                <button class="close-btn" id="closeBtn">&times;</button>
            </div>
            <li>
                <a href="/">Home</a>
            </li>
            <% if (currentUser && currentUser.role === "ADMIN") { %>
                <li>
                    <a href="/auth/dashboard">Dashboard</a>
                </li>
            <% } %>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
            <% if (currentUser) { %>
                <li>
                    <a href="/auth/logout" class="auth-btn logout-btn">Logout</a>
                </li>
            <% } else { %>
                <li>
                    <a href="/auth/register" class="auth-btn sign-up-btn">Sign Up</a>
                </li>
            <% } %>
        </div>

        <div id="menuOverlay" class="overlay"></div>

        <ul class="link-container">
            <li>
                <a href="/" class="<%= activePage === "home" ? "active" : "" %>">Home</a>
            </li>
            <% if (currentUser && currentUser.role === "ADMIN") { %>
                <li>
                    <a href="/auth/dashboard" class="<%= activePage === "dashboard" ? "active" : "" %>">Dashboard</a>
                </li>
            <% } %>
            <li>
                <a href="/about" class="<%= activePage === "about" ? "active" : "" %>">About</a>
            </li>
            <li>
                <a href="/contact" class="<%= activePage === "contact" ? "active" : "" %>">Contact</a>
            </li>
            <% if (currentUser) { %>
                <li>
                    <a href="/auth/logout" class="auth-btn logout-btn">Logout</a>
                </li>
            <% } else { %>
                <li>
                    <a href="/auth/register" class="auth-btn sign-up-btn">Sign Up</a>
                </li>
            <% } %>
        </ul>
    </nav>
</header>