<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    <div class="dashboard-content content">
        <div class="dashboard-title-container">
            <p>Dashboard</p>
        </div>
    </div>
    <%- include("../partials/footer.ejs") %>
</body>
</html>